<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edit question</title>
        <meta http-equiv="Content-Type" content="charset=UTF-8" />
        <link
            type="text/css"
            rel="stylesheet"
            href="css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
    />
    <style>
            .padding {
                margin-left: 1cm;
               
            }
            .margin-bottom {
                margin-bottom: 15px; 
            }
            .margin-top {
                margin-top: 15px; 
            }
    </style>
    </head>
    <body>
        <!--NOTE:-->
        <!--
         th:href="@{../css/bootstrap.min.css}"  relative path with two dots isn't resolving correctly for whatever reason
        The styling only works if you remove the dots.
        -->
        <div class="container">
            <h1 class="padding margin-top margin-bottom">Edit question content for quiz: "<span th:text="${quiz.name}"></span>"</h1>
            <form th:object="${question}" th:action="@{/saveeditedquestion}" method="post">
                <div class="form-group">
                <!-- Hidden inputs for quizId & questionId-->
                <input type="hidden" name="quizId" th:value="${quiz.id}" />
                <input type="hidden" id="id" th:field="*{questionId}" />


                <!-- Question Text Input -->
                
                <div class="margin-top padding">
                    <label for="questiontxt"><strong>Question text</strong></label>
                    <div style="clear: both; display: block; height: 10px;"></div>
                    <input type="text" id="questiontxt" th:field="*{questionText}" class="form-control margin-bottom"/>
                </div>
                
                <div style="clear: both; display: block; height: 10px;"></div>


                <!-- Difficulty Radio Buttons -->
                <label class="padding"><strong>Difficulty</strong></label>

                <div class="input-group mb-3 padding margin-top">
                    <div class="input-group-prepend">
                        
                        <label>
                            <input type="radio" th:field="*{difficulty}" value="Easy"/>
                            Easy
                        </label>
                        <div style="clear: both; display: block; height: 10px;"></div>
                        <label>
                            <input type="radio" th:field="*{difficulty}" value="Normal" />
                            Normal
                        </label>
                        <div style="clear: both; display: block; height: 10px;"></div>
                        <label>
                            <input type="radio" th:field="*{difficulty}" value="Difficult" />
                            Difficult
                        </label>
                    </div>
                </div>

                <div style="clear: both; display: block; height: 10px;"></div>
            </div> 
                <!-- Submit and Cancel Buttons -->
                <input type="submit" class="btn btn-primary padding" value="Save"></input>
                <a href="javascript:history.back()" class="btn btn-secondary">Cancel</a>
                 
            </form>
        </div>
    </body>
</html>
