<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Quizlist</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link
			type="text/css"
			rel="stylesheet"
			href="css/bootstrap.min.css"
			th:href="@{../css/bootstrap.min.css}"
		/>
		<style>
			.padding {
				margin-left: 1cm;
				margin-right: 1cm;
			}
			.margin-bottom {
				margin-bottom: 15px;
			}
			.margin-top {
				margin-top: 15px;
			}
			.margin-left {
				margin-left: 1cm;
			}
		</style>
	</head>
	<body>
		<h1 class="padding margin-bottom margin-top">
			Questions for: --Insert Quiz Name --
		</h1>

		
		<!--DON'T REMOVE, NEED TO ASSOCIATE QUESTION LIST WITH SPECIFIC QUIZ-->
		<!--@{/questionlist/{id}(id=${quiz.id})}-->

		<table class="table table-striped padding">
			<tr>
				<th>Question text</th>
				<th>Difficulty</th>
				<th></th>
				<th></th>
			</tr>
			</tr>
			<tr th:each="question : ${questions}">
				<td th:text="${question.questionText}"></td>
				<td th:text="${question.difficulty}"></td>
				<td>
					<a
						th:href="@{/editquestion/{id}(id=${question.questionId})}"
						class="btn btn-secondary btn-sm"
						>Edit</a
					>
				</td>
				<td>
					<a
						th:href="@{/deletequestion/{id}(id=${question.questionId})}"
						class="btn btn-danger btn-sm"
						>Delete</a
					>
				</td>
			</tr>
		</table>

		<a href="/addquestion" class="btn btn-primary margin-left"
			>Add a question</a
		>
		<a href="/quizlist" class="btn btn-secondary">Back to quizzes</a>
	</body>
</html>
