<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quizlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{../static/css/bootstrap.min.css}" />
</head>
<body>
	<h1>The list</h1>
    <table>
		<tr>
		    <th>Name</th>
		    <th>Descriptions</th>
            <th>Added on</th>
            <th>Is Published</th>
		</tr>  
    	<tr th:each = "quiz : ${quizzes}">
    		<td th:text="${quiz.name}"></td>
    		<td th:text="${quiz.description}"></td>  	
            <td th:text="${quiz.addedOn}"></td>  		
            <td th:text="${quiz.isPublished}"></td>  
    	</tr>
     </table>
</body>
</html>